## 통계적 가설검정

### T-test    (T-검정)
* 표본 하나, 컬럼 하나

In [2]:
import pandas as pd
import numpy as np

In [4]:
cat = pd.read_csv('cats.csv')

In [5]:
cat

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [7]:
import scipy.stats as stats
from scipy.stats import shapiro

In [8]:
mu = 2.5  #모평균
shapiro(cat['Bwt'])

ShapiroResult(statistic=0.9518786668777466, pvalue=6.730228778906167e-05)

In [9]:
stats.wilcoxon(cat.Bwt - mu, alternative='two-sided')

WilcoxonResult(statistic=2432.0, pvalue=3.279404674375999e-06)

## 대응표본 T-검정
* 표본 2개, 컬럼 2개

In [12]:
import pandas as pd