In [1]:
import pandas as pd
import numpy as np

### 통계적 가설검정2
- 가설검정을 진행하면서
- 어떤 상황에 따라서 어떤 분석을 해야하며, 어떤 상황에 따라서 어떤 가정을 확인해야 하는지

### T-test 일표본 (One-Sample t-test)
- 표본 하나고, 컬럼 하나라는 뜻
- 단일 모집단에서 관심이 있는 연속형 변수의 평균값을 가지고 비교한다.

- 가정: 모집단의 구성요소가 정규분포를 이룬다는 가정 
- 종속변수는 연속형이어야 한다.
- 기준값들이 필요하다.
---

- 일표본검정을 하기 전에 
- 정규성 검정 
- 정규성 검정 no - 윌콕슨 부호 검정 
- 정규성 검정 yes - t.test

In [2]:
cat = pd.read_csv('cats.csv')

In [3]:
cat

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [4]:
cat

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [6]:
import scipy.stats as stats
from scipy.stats import shapiro

In [8]:
# 모평균  2.5
#고양이의 몸무게가 2.5이다.
#고양이의 몸무게가 2.5가 아니다

#정규성 검정 shapiro 해당 고양이데이터가 정규성 만족하는지?
mu = 2.5
shapiro(cat['Bwt'])

ShapiroResult(statistic=0.9518786668777466, pvalue=6.730228778906167e-05)

- 0.05보다는 작다
- 귀무가설을 기각해야 한다.
- 데이터가 정규분포를 따른다. 
- 정규분포를 따르지 않는다고 판단해야 한다.


---
- if 정규분포를 따르면 ttest
- 정규분포를 따르지 않았으니 윌콕슨 해야 한다.

In [9]:
stats.wilcoxon(cat.Bwt - mu, alternative='two-sided')

WilcoxonResult(statistic=2432.0, pvalue=3.279404674375999e-06)

- 유의수준0.05보다 작다.
- 고양이 몸무게가 2.5이다라는 귀무가설을 기각
- 고양이의 몸무게가 2.5이 아니다라는 대립가설 채택하고 유의수준 0.05하에서 말할 수 있다.

### 필수과제1
- t-test로 진행도 해보기! (고양이데이터를 가지고!)

## 대응표본 T-검정 (Paired Sample - t-test)
- 표본이 2개 컬럼이 두 개
- 두 개의 컬럼에 모평균에 대한 차이를 비교한다는 뜻
- 전 후에 대한 비교를 하게된다. 전 후에 대한 비교를 통해 평균의 차이를 비교한다.
- ex) 신약개발해서 신약 개발 복용 전과 후를 비교해서 그 차이를 보고 이 신약이 정말 유의미한가를 분석하게 된다.
- 모집단의 관측값이 정규성을 만족해야 한다.

----
- yes - t.test
- no - 윌콕슨 부호 순위검정

In [13]:
# 두 모평균 사이의 차이는 없다  귀무가설
# 두 모평균 사이의 차이는 있다. 대립가설

import pandas as pd
df = {'before':[5,7,3,8,2,1,8,1,3],
     'after':[8,3,2,8,7,2,6,2,5]}
data = pd.DataFrame(df)
data
#깨어있는 시간, 수면이 될 수 있고

   before  after
0       5      8
1       7      3
2       3      2
3       8      8
4       2      7
5       1      2
6       8      6
7       1      2
8       3      5

In [14]:
data

   before  after
0       5      8
1       7      3
2       3      2
3       8      8
4       2      7
5       1      2
6       8      6
7       1      2
8       3      5

- 귀무가설 : 복용 전과 복용 후가 차이가 없다.
- 대립가설 : 복용 전과 복용 후가 차이가 있다.

In [15]:
## t-test 비교
stats.ttest_rel(data['after'],data['before'],alternative='greater')## alternative 파라미터 인자값들 다양함

TtestResult(statistic=0.6178020632152155, pvalue=0.2769406324945396, df=8)

### 필수과제2
- 30개 이상 표본을 만들어서 
- 대응표본 T-검정 (Paired Sample - t-test) 진행
- 가설에 대한 예시는 여러분들이 잡아주시면 되고
- 정규성 검정과 함께
- t.test와, 윌콕슨 모두 검정을 진행해 주시고
- 결과 값에 대해서 pvalue를 통해 가설에 대한 채택 여부를 설명해 주세요!

## 독립표본 t-test(Independent Sample t-test)
- 두 개의 독립된 모집단의 평균을 비교
- 모집단, 모수, 표본 두 개씩 존재, 컬럼도 두 개 

---
- 정규성을 만족해야 하는지 봐야한다.
- 등분산성을 봐야 한다 분산이 다른지, 같은지 봐야한다.

---
- if 정규성 
- no 윌콕슨 부호 순위 검정
- yes 두 가지를 또 생각해야 한다.
- 등분산 검정 
- yes 두 개의 분산이 같다고 파라미터를 조정
- no 두 개의 분산이 다르다 파라미터를 조정하면 된다.

In [28]:
cat# 수컷과 암컷

#귀무가설 수컷과 암컷 고양이의 몸무게의 차이는 없다
#대립가설 수컷과 암컷 고양이의 몸무게의 차이가 있다.

cat_f = cat.loc[cat.Sex=='F','Bwt']
cat_m = cat.loc[cat.Sex=='M','Bwt']

# 등분산성 검정을 진행해 보자 (levene-test)
print(len(cat_f))
print(len(cat_m))
# 실제 표본은 최대한 맞춰주셔야 한다.
stats.levene(cat_f, cat_m)

47
97

LeveneResult(statistic=19.43101190877999, pvalue=2.0435285255189404e-05)

- 등분산성 검정
- 0.05 
- 0.05보다 pvalue가 작다. 등분산성을 만족하지 않는다.
- 귀무가설 등분산성 만족한다
- 대립가설 등분산성 만족하지 않는다.

In [ ]:
# 등분산성이 만족되지 않는다는 기준으로 t-test를 진행해야 한다.

In [29]:
stats.ttest_ind(cat_f, cat_m, equal_var=False) #등분산성이 다르다

Ttest_indResult(statistic=-8.70948849909559, pvalue=8.831034455859356e-15)

- 귀무가설을 기각한다.
- 즉 수컷고양이와 암컷고양이의 몸무게는 차이가 있다.

In [30]:
stats.ttest_ind(cat_f, cat_m, equal_var=True) #등분산성이 같다.

Ttest_indResult(statistic=-7.330666826537409, pvalue=1.590445378625505e-11)

### 필수과제 3
- 정규성을 만족하지 않는 경우
- 정규성을 만족하는 경우 

- 두 경우의 수를 모두 다 코드로 작성해 주세요! ( cat 데이터를 가지고 )

- 귀무가설과 대립가설의 결과 차이에 대해서 간단한 시각화와 평균에 대한 비교를 함께 보여주세요!

In [31]:
cat_f.mean()

2.359574468085107

In [32]:
cat_m.mean()

2.8999999999999995

## 분산분석 
- t-test 두 집단 간의 모평균과의 평균에 대한 차이를 비교한다.
- 분산분석은 두 개 이상의 다수 집단에 대해서 집단 간의 평균을 비교하는 통계분석
- 종속변수와 독립변수 
- 종속변수는 연속형, 독립변수는 범주형이어야 한다.
- 분산분석의 개수에 따라
- 일원배치, 이원배치, 다원배치 분산분석으로 나눈다.


- 단일변량 분산분석
- 일원배치 - 독립변수 1개 종속변수 1개
- 이원배치 - 독립변수 2개 종속변수 1개
- 다원배치 - 독립변수 3개 종속변수 1개
---
- 다변량 분산분석
- 독립변수는 1개이상- 종속변수가 2개이상

### 일원 배치 분산 분석
- 일원배치분산분석
- 정규성 검정 -> no 비모수검정
- 정규성 검정 yes
- 등분산성 검정
- yes oneway
- no 분석방법

### 필수과제 4
- 분산분석에 대해서 Anova , Manova
- 개념을 확실하게 정리해 주세요.
- 위에 적은 다양한 경우의 수가 있는데, 해당 경우의 수에 대한 다양한 분산분석에 대한 개념 비교를 정리해 주세요!

### 필수과제 5
- 통계 분석 과제
- 데이터를 드릴 것이며, 해당 데이터를 가지고 지금까지 배웠던 통계 분석을 진행해 주세요.
- 단순하게 t-test 하고 결과값을 출력하는 게 아니라.
- 해당 변수에 대한 시각화 -> 정규성 -> t-test를 진행하는데
- 컬럼에 대한 이해도를 바탕으로 분석 목적을 정확하게 잡고-> 그걸 기반으로 본인의 가설을 검정하는 코드와 주석처리를 진행해주세요!
- 지금까지 배웠던 모든 분석 방법을 해야 합니다.
- 분석 결과를 바탕으로 시각화를 통해서 실제 데이터의 값도 비교해 주세요!


- 이런 것은 지양해 주세요!
- 우수학회원의 기준점이 되기 때문에 최소한의 요구조건은 모두 다 만족해야 한다.

In [ ]:
#지양포인트!
stats.ttest_ind(cat_f, cat_m, equal_var=False)
# 귀무가설 기각