# for문
- for 변수 in range(시작값, 끝값+1, 증가값):

Q. 1부터20까지 중 짝수 출력

In [2]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Q.1부터 20까지 중 홀수 출력

In [4]:
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

# 2차원 리스트
- 2차원 행과 열로 이루어진 리스트
- 행:index, 열:column

In [6]:
list = [[1,2], [3,4], [5,6]]

In [7]:
list

[[1, 2], [3, 4], [5, 6]]

리스트의 값에 접근하려면 인덱스로 접근해야함

In [8]:
for i in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [9]:
list[1][0] #인덱스로 접근

3

In [10]:
list[2][0]

5

In [11]:
list_2 = ['a', 'b', 'c', 'd', 'e', 'f'] #1차원 접근

Q.list_2의 요소를 모두 불러오는 반복문

In [13]:
for i in list_2:
    print(i)

a
b
c
d
e
f

In [15]:
for i in range(len(list_2)):  
    print(list_2[i])

a
b
c
d
e
f

In [16]:
for i in range(6):
    print(list_2[i])

a
b
c
d
e
f

Q.list=[[1,2], [3,4], [5,6]] 의 값만 출력

In [17]:
for i in list:
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [18]:
for i in list:
    for j in i:
        print(j)

1
2
3
4
5
6

In [20]:
for i in range(3):
    for j in range(2):
        print(list[i][j])

1
2
3
4
5
6

## 빈 리스트를 만들어 요소 추가

Q.빈 리스트를 만들고 1부터 20 중 짝수만 넣기

In [22]:
list_3 = []  #빈 리스트
for i in range(2,21,2):
    list_3.append(i)
print(list_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
list_3 = []
for i in range(1,21):
    if i % 2 == 0:
        list_3.append(i)           
print(list_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q.빈 리스트를 만들고 1부터 20 중 홀수만 넣기

In [26]:
list_4 = []  #빈 리스트
for i in range(1,21,2):
    list_4.append(i)
print(list_4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
list_4 = []
for i in range(1,21):
    if i % 2 != 0:
        list_4.append(i)           
print(list_4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q.[[0,0],[0,1],[1,0],[1,1]] 2차원 리스트 만들기

In [28]:
a = []
for i in range(2):
    for j in range(2):
        a.append([i,j])
print(a)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [46]:
 #수정필요
a = []
for i in range(2):
    b = []
    for j in range(2):
        b.append([i,j])
    a.append(b)
print(a)

[[[0, 0], [0, 1]], [[1, 0], [1, 1]]]

In [50]:
a = []
for i in range(2):
    
    for j in range(2):
        b = []
        b.append(i)
        b.append(j)
        a.append(b)
print(a)

[[0, 0], [0, 1], [1, 0], [1, 1]]